.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.search__input{
  padding: 0.5rem 1rem;
}

.App {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 2rem;
  /* 1rem => 16px  */
  text-align: center;
  margin-top: 1.5rem;
  /*   padding-right: 3rem;
  padding-left: 3rem; */
  /* Padding HORIZONTAL */
  padding-inline: 3rem;
  /* padding VERTICAL */
  padding-block: 3rem;
}

img {
  width: 100%;
}
